<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ProgettoJSP1</display-name>
  <servlet>
    <description>Questa è la descrizione</description>
    <display-name>Questo è il nome mostrato a video</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>Questa è la descrizione</description>
    <display-name>Questo è il nome mostrato a video</display-name>
    <servlet-name>Benvenuto</servlet-name>
    <servlet-class>Benvenuto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Benvenuto</servlet-name>
    <url-pattern>/benvenuto</url-pattern>
  </servlet-mapping>


  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
</web-app>