.container { padding:0 auto; margin:0auto;}
.row {display:block; width: 90%; border:0px solid #ccc;}
#testata, #menu, #footer{ clear:both; border:0px solid #c00;  }
#content {float:left; width:65%; border:0px solid #fc3;min-height:450px;}
#sidebar {float:right; width:30%; border:0px solid green;}
#menu  li {list-style-type: none;  display:inline;  }