#container{
	padding:10px;
	background-color: #fff;
	width: 360px;
	height: 360px;
}

#binario{
	height: 100px;
	width: 360px;
	background: url('../rails.png');
	background-repeat: repeat-y;
	border-bottom: 2px solid black;
	border-right: 2px dashed red;

}

#treno{
	height: 70px;
	width: 100px;
	border: 0px dotted red;
	position: relative;
	left:0px;
	top:30px;
}

#treno img {
	height:68px;
	width: 100%;
}