<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletLogin</display-name>
  
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>

  
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.maboglia.Login</servlet-class>
	</servlet>  
	  
	<servlet>
		<servlet-name>Benvenuto</servlet-name>
		<servlet-class>com.maboglia.Benvenuto</servlet-class>
	</servlet>  
	  
	
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/servlet1</url-pattern>
	</servlet-mapping>
	  
	<servlet-mapping>
		<servlet-name>Benvenuto</servlet-name>
		<url-pattern>/servlet2</url-pattern>
	</servlet-mapping>

  
</web-app>