

#reportCarrello {border: 1px solid black; width: 300px; height: 100px;}
#prodotti {border: 1px solid black; width: 300px; height: 300px;}
#droppo {border: 1px solid black; width: 300px; height: 100px;}

.prodotto {	border: 1px solid red;
	width: 75px;
	height: 75px;
overflow: hidden; background-color: red;} 
